body {
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #2e2e2e;
}
body h1 {
   font-family: 'Rubik Gemstones', cursive;
   font-size: 3.5vw;
   color: aqua;
   white-space: nowrap;
   animation: squeze 2s ease infinite alternate;
}
<<<<<<< HEAD
@import "header";
@import "footer";
font {
   margin-bottom: 20px;
}
div {
   margin-bottom: 20px;
   margin-top: 2px;
}
table {
   border: 0;
   width: 100%;
   max-width: 200px;
=======
@keyframes squeze {
   from {
      letter-spacing: 0.2em;
   }
   to {
      letter-spacing: 1em;
   }
}
@media(max-width: 768px) {
   body h1 {
      font-size: 2vw;
   }
}
@media(max-width: 1200px) {
   body h1 {
      font-size: 3vw;
   }
>>>>>>> 90c08ea439ff3c3ab0546ddcf794a0ccb2bfdc88
}