body {
   background-color: #2e2e2e;
   font-family: 'SANS-SERIF';
}
div {
   box-shadow: 2px 5px 2.5rem #000;
}
@import "header";
@import "footer";
font {
   margin-bottom: 20px;
}
div {
   margin-bottom: 20px;
   margin-top: 2px;
}
table {
   border: 0;
   width: 100%;
   max-width: 200px;
}